.emptyList {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    background: rgba(18, 18, 18, 0.03);
    color: rgba(0, 0, 0, 0.62);
    justify-content: center;
    align-items: center;
}