.cardClass {
    background: white;
    overflow: hidden;
    text-decoration: none;
    margin: 15px auto 0;
    width: 100%;
    min-height: 90px;
    border: none;
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05), 0 0px 40px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s;
    position: relative;
/* 
    &:hover {
        box-shadow: 0 1px 8px rgba(36, 35, 35, 0.3);
        transform: scale(1.02);
    } */
}

.headerClass {
    font-size: 15px;
    font-weight: bold;
    background: rgb(10, 19, 70);
    /* background: #530a86; */
    color: white;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}

.bodyClass {
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}